body{
    background-color:white;
    color:#00AEEF;
    margin:0px;
    height: 100%;
    width: 100%;
}

.navigation-container{
    display:grid;
    grid-template-columns: auto auto auto auto auto;
    text-align:center;
}

.nav_item {
  border: 1px solid #00AEEF;
  padding: 15px;
  font-size: 20px;
  text-align: center;
}

.home-container{
    display:grid;
    grid-template-columns: repeat(2,50%);
    text-align:center;
}

.home_item{
  border: 1px solid #00AEEF;
  border-top:0px;
}

#logo{
    border-right:0!important;
}

#imagine {
    width: 100%;
    height:100%;
}

#about{
    border-right:0!important;
}

#home{
    border-right:0!important;
}

#team{
    border-right: 0!important;
}

#meniu_text{
    border-right:0!important;
}

.team-container{
    display:grid;
    padding-left:5%;
    padding-right:5%;
    padding-top:20px;
    padding-bottom:10px;
    grid-template-columns: repeat(3,33%);
    grid-gap: 20px;
    border: 1px solid #00AEEF;
    border-top:0;
    border-bottom:0;
}

.circle{
    color: #00AEEF;
    border :1px solid #00AEEF;
    padding-top:200px;
    padding: 125px;
    text-align: center;
    font-size: 18px;
    margin-top:150px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 100px;
    border-radius:50%;
}

.circle1:hover{
    background-color:#00AEEF;
    color:white;
}
.circle2:hover{
   background-color:#0000FF;
   color:white;
}
.circle3:hover{
    background-color:#FF00FF;
    color:white;
}

.about-container{
    display:grid;
    padding-left:5%;
    padding-right:5%;
    grid-template-columns: repeat(4,25%);
    grid-gap:15px;
    border: 1px solid #00AEEF;
    border-top:0;
}

.card{
    color: #00AEEF;
    border :1px solid #00AEEF;
    padding: 80px;
    text-align: center;
    font-size: 18px;
    margin-top:100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
    border-radius:50px;
}

.card:hover{
    background-color: #00AEEF;
    color:white;
}

.contact-container{
    border: 1px solid #00AEEF;
    font-size:25px;
    text-align:center;
    border-top:0;
}

.button{
    background-color: white;
    border: 1px solid #00AEEF;
    border-radius:10px;
    text-decoration: none;
    color: #00AEEF;
    margin-bottom: 50px;
    text-align: center;
    font-size:20px;
    margin-left:80px;
}

.button:hover{
    background-color: #00AEEF;
    color:white;
}

a:link, a:visited{
    color: #00AEEF;
    text-decoration: none;
}

a:hover, a:active{
    color: #00AEEF;
    text-decoration: none;
}

